* {
  /* aqui estamos falando que o codigo devera ignorar a margem e padding do browser  */
  margin: 0;
  padding: 0;
  /*agora colocamos a borda em caixa*/
  box-sizing: border-box;
}
/*raiz do projeto*/
:root {
  --test-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
}
.light {
  --test-color: black;
  --bg-url: url(./assets/bg-mobile-light\\(1\).jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
}

body {
  /*Buscando a imagem de fundo */
  background-image: url(./assets/bg-mobile.jpg);

  /*A imagem esta repetindo varias vezes, para não repetir:*/
  background-repeat: no-repeat;

  /*Colocando a imagem no meio*/
  background-position: top center;

  /*Se for um dispositivo grande vai preencher toda a tela*/
  background-size: cover;
}

body * {
  /*body* significa que é para todos os bodys sem exceção */
  font-family: "inter", sans-serif;
  color: var(--test-color);
}

#container {
  /*Largura*/
  width: 360px;

  /*margin top de 56px laterais auto e bottom 0px*/
  margin: 56px auto 0px;
  padding: 24px;
}
#profile {
  text-align: center;
  /*preenchimento da caixa*/
  padding: 24px;
}
#profile img {
  width: 112px;
  /*em elemento "inline" o margin auto não funciona por isso transformamos o elemento em block*/
  margin: auto;
  display: block;
  /*como o elemento esta inline, podemos usar o 
text-align: center; */
}

#profile p {
  /*nivel de negrito*/
  font-weight: 500;
  /*altura de linha*/
  line-height: 24px;
  text-align: center;
  margin-top: 8px;
}
/*links*/
ul {
  padding: 24px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  /*espaço entre os itens*/
  gap: 16px;
}

ul li a {
  display: flex;
  /*alinha os itens (li) no centro da caixa */
  align-items: center;
  /*Deixa o (li) no meio da pagina*/
  justify-content: center;
  padding: 16px 24px;
  /*cor do botao */
  background: var(--surface-color);
  /*cor da borda */
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /*tira as linhas dos links*/
  text-decoration: none;
  font-weight: 500;
  transition: background 0.5;
}
ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid var(--text-color);
}

/*social-links*/
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px;
  font-size: 24px 0;
}
#social-links a {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
  transition: background 0.5;
}

#social-links a:hover {
  background: rgba(225, 225, 225, 0.2);
  border-radius: 50%;
}

footer {
  text-align: center;
  padding: 24px 0px;
}
